
body{
	padding-top: 50px;
	width: 100%;
	height: 100%;

}
#max{
	padding-top: 35px;
	background-color: lightgrey;
	
}
p{
	font-family: "segoe ui light";
	padding-top: 20px;
	line-height: 28px;
	
}
h2{
	padding-top: 20px;
	font-size:30px;;
    font-weight: 600;
	text-transform: uppercase;
}
